.text-field {
  margin: 24px 0;
}

.text-field label {
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}

.text-field input {
  width: 100%;
  border: none;
  padding: 24px;
  font-size: 24px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}
